/* Import a custom font if desired */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Reset default margins and paddings */
body, div, p, button, a {
    margin: 0;
    padding: 0;
}

/* Center the content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

/* Main container */
.main-div {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

/* Left navigation div */
.left-div {
    width: 200px;
    background-color: #EEEEEE;
    color: #333;
    padding: 20px;
}

.left-div-logo {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    
}

.main-logo {
    max-width: 80px;
    margin-right:-20px;
}

.left-div-menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;

   
}
.item:hover{
  background-color: #fff;
  border-radius: 40px;

}



.left-div-menu li {
    margin-bottom: 40px;

}

.left-div-menu .logo {
    max-width: 25px;
   
}

.left-div-logo a h4{
  color:#333;
}

.left-div-logo a{
 text-decoration: none;
}

.item a{
  color:#313866;
  font-family: sans-serif;
  font-size: medium;
  
}



/* Right content div */
.right-div {
    flex: 1;
    padding: 20px;
}

.main-form {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-update {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-update-btn {
    text-align: center;
    margin-top: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Alert styles */
.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}
