.top-div {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.food-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.food-row label {
  flex-basis: 100px;
  margin-right: 10px;
}

.select-1 {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#add-food-row {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  margin-left:30px;
}
#add-food-row:hover{
  background-color: rgb(30, 68, 255);
}

.btn-create {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.btn-create:hover{
  background-color: rgb(30, 68, 255);
}


label{
  margin-left:30px;
}

.errorDiv {
  margin-top: 20px;
  font-weight: 600;
}

#error-message {
  color: red;
}

#errorDiv {
  color: brown;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

ul li {
  margin-bottom: 10px;
}

ul li p {
  font-size: large;
  color: midnightblue;
  text-transform: uppercase;
  font-family:monospace;
  font-size: small;
}

ul li p.note {
  color: midnightblue;
  text-transform: uppercase;
  margin-top: 0;
}
