.top-div {
  text-align: center;
  margin-top: 50px;
}

h5 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

.top-div p {
  font-size: 16px;
  color: #777;
  margin-bottom: 80px;

}


label {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
  margin-left:10px;
}
#foods-container {
  margin-bottom: 20px;
}

.food-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.select-1 {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  margin-top: 20px;
}

#add-food-row {
  font-size: 24px;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-create {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.errorDiv {
  margin-top: 20px;
}

#error-message {
  font-weight: bold;
}

#errorDiv {
  font-weight: bold;
}
