
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.alert {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
 
}

.btn-info {
  background-color: #17a2b8;
  color: white;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  padding: 15px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header h5{
  color:#0E2954;
  text-decoration: underline;
  font-family: sans-serif;
}

.card-header {
  font-size: 1.2rem;
  font-weight:400;
  margin-bottom: 10px;
}

.card-header b{
  text-decoration: underline;
  text-align: center;
}
.card-body p {
  margin: 15px 0;
  font-family: sans-serif;
  width:60%;
  display: flex;

  justify-content: space-between;
  text-decoration: underline;

 

}

.div-day{
  width:100%;
  text-align: center;
}

.foodname{

  border:1px solid;
  width:fit-content;
  padding:0px 8px;
  background-color: #468B97;
  color:#fff;
  border-style: none;
  border-radius: 5px;
  text-align: center;

}


.card-body span{
  color:#17a2b8;
  font-size: small;
}


.card-header span{
  color:#17a2b8;
  font-size: small;
}
.card-header p{
  font-size: medium;
}

.daily-summary{
  width:100%;
  display: flex;
  justify-content: center;
 
}

.summary-header{
 width:100%;
 box-shadow: 0 0 1.25rem rgba(50, 200, 1, 0.288);
 background-color: #C7E8CA;

}

.summary-header p{
  font-family: sans-serif;
  color:#0E2954;

  font-weight: 500;
  width:300px;
  display: flex;
  justify-content: space-between;
}




@media (max-width: 768px) {
  .card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
      width: 100%;
  }
}


.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.buttons p{
  font-size: small;
  font-style: italic;
  color:chocolate;
}
.space-btn{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width:50%;
  margin:0 auto;

  
}

/* Adding a background color for each day */
.card.day-monday {
  background-color: #EEEEEE; /* Light blue */
}

.card.day-tuesday {
  background-color: #f0ffe0; /* Light green */
}

.card.day-wednesday {
  background-color: #f8f0ff; /* Light purple */
}

.card.day-thursday {
  background-color: #fff0f0; /* Light pink */
}

.card.day-friday {
  background-color: #fffdd0; /* Light yellow */
}

.card.day-saturday {
  background-color: #B6FFCE; /* Light cyan */
}

.card.day-sunday {
  background-color: #E8F9FD; /* Light mint */
}

